@font-face {
  font-family: "Virgil";
  src: url("MonaspaceRadonVarVF[wght,wdth,slnt].woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("MonaspaceKryptonVarVF[wght,wdth,slnt].woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("MonaspaceNeon-Regular.woff");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("MonaspaceNeon-Medium.woff");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("MonaspaceNeon-SemiBold.woff");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("MonaspaceNeon-Bold.woff");
  font-display: swap;
  font-weight: 700;
}
